
main{
    display: flex;
}

aside{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #eeeeee;
}
aside .header{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
aside .header h1{
    font-family: rubikbold;
    color: #6A4029;
    font-size: 20px;
    margin: 0px;
}
aside .header p{
    font-family: poppins;
    width: 65%;
    text-align: center;
    font-size: 13px;
}
aside .content{
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside .content .promo .card{
    font-family: poppins;
    display: flex;
    margin-bottom: 15px;
    border-radius: 15px;
}
aside .content .promo .card .image img{
    width: 75px;
    height: auto;
}
aside .content .promo .card .title{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
}
aside .content .promo .card .title p{
    margin: 0px;
    font-weight: 400;
}
aside .content .action .btn{
    margin-top: 20px;
    border: none;
    width: 270px;
    height: 50px;
    background-color: #6a4029;
    color: #ffffff;
    font-weight: 800;
    border-radius: 15px;
    cursor: pointer;
}
aside .content .action .btn:hover{
    background-color: #3f2619;
}
aside .terms{
    margin: 50px;
    font-family: rubik;
    font-size: 12px;
}
aside .terms ul{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #4F5665;
    list-style-type: decimal;
}

aside .terms li{
    margin-top: 5px;
}
.green{
    background-color: #88B788;
}
.yellow{
    background-color: #f5c361;
}
.brown{
    background-color: #C59378;
}
.content{
    width: 70%;
}
.content .navbar ul{
    display: flex;
    list-style-type: none;
}
.content .navbar li{
    font-family: rubikbold;
    margin: 15px auto;
    font-size: 17px;
    color: #9F9F9F;
    cursor: pointer;
}
.content .navbar li:hover{
    color: #6A4029;
    font-weight: 700;
    text-decoration-line: underline;
}
.content .menuproduk .row {
    display: flex;
    justify-content: center;
    font-weight: 900;
}

.content .menuproduk .row .product {
    margin: 30px 20px;
    position: relative;
    box-shadow: 1px 10px 10px #CCCCCC;
    width: 130px;
    height: 190px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}
.content .menuproduk .row .product:hover{
    border: 2px solid #6A4029;
}

.content .menuproduk .row .product .round-border {
    width: 100px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    top: -30px;
    left: 15px;
    right: 15px;
    border-radius: 100px;
    border: 1px solid #CCCCCC;
}

.content .menuproduk .row .product h1 {
    font-family: poppinsbold;
    padding: 20px;
    margin-top: 65px;
    font-size: 20px;
    font-weight: 700;
    height: 20px;
}
.content .menuproduk .row .product h2 {
    font-family: poppins;
    padding: 5px;
    color: #6A4029;
    font-weight: 600;
    font-size: 15px;
}

.content .info{
    margin-top: 20px;
    margin-left: 170px;
    color: #6A4029;
    font-size: 14px;
    font-weight: 200;
    font-family: poppins;
}

