@font-face {
    font-family: rubik;
    src: url(../../font/Rubik.ttf);
}

body{
    margin: 0px;
    padding: 0px;
    font-family: rubik;
}

section{
    width: 100%;
    height: 700px;
    display: flex;
    position: relative;
}
section .background{
    position: relative;
    width: 45%;
    height: 100%;
}
section .background img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    width: 65%;
    height: 100%;
}
.content .navbar{
    display: flex;
    padding: 10px 20px;
}
.logo{
    width: 50%;
    display: flex;
    align-items: center;
}
h1{
    font-size: 20px ;
    margin-left: 14px;
}

.content .navbar .Signup{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: bold;
    color: #6A4029;
}

.content .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .form form{
    padding-top: 40px;
}
.content .form form label{
    color: #4F5665;
    font-weight: bold;
    font-size: 15px;
}
.content .form form input{
    border: 1px solid #CCCCCC;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 10px;
}
.content .form .signup{
    margin-top: 30px;
    margin-bottom: 8px;
    border: none;
    padding: 15px 238px;
    border-radius: 10px;
    color: #6A4029;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 5px 10px #CCCCCC;
    background-color: #ffba33;
}

.content .action{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .action .btngoogle{
    padding: 15px 165px;
    display: flex;
    justify-content: center;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 5px 10px #CCCCCC;
}
.content .action .btngoogle svg {
    margin-right: 14px;
}

.content .action strong {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #9F9F9F;
}

.content .action .login {
    border: none;
    border-radius: 10px;
    padding: 15px 220px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 5px 10px #CCCCCC;
    background-color: #6A4029;
}

footer {
    display: flex;
    background-color: #F8F8F8;
}

footer .information{
    width: 70%;
    padding: 40px 60px;
}

footer .information .text{
    margin-top: 10px;
    width: 290px;
    font-size: 14px;
    font-weight: 600;
    color: #4F5665;
}

footer .information .socialmedia .socmed{
    margin-top: 20px;
    display: flex;
    list-style-type: none;
    padding: 0px;
}

footer .information .socialmedia .socmed li{
    margin-right: 14px;
}

footer .copyright{
    margin-top: 10px;
    color: #AFB5C0;
    font-weight: 700;
    font-size: 16px;
}


footer .infomenu{
    width: 30%;
    padding: 40px 60px;
    display: flex;
}

p{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;

}
footer .product{
    margin-right: 50px;
}
footer .product li{
    margin-top: 10px;
    list-style-type: none;
    color: #4F5665;
    font-weight: 600;
    font-size: 14px;
}
footer .engage li {
    margin-top: 10px;
    list-style-type: none;
    color: #4F5665;
    font-weight: 600;
    font-size: 14px;    
}